$primary-text: #fff;
$secondary-text: #000;
$default-text: #5e5e5e;
$card-border: #2a2b2d;
$card-header-bg: #1a7bc1;
$card-overlay: rgba(0, 0, 0, .4);
$shadow: rgba(0, 0, 0, .4);
$navigator-bg: rgba(0, 0, 0, .7);
$card-badge-bg: #da0808;
$card-icon-border: rgba(255, 255, 255, .4);
$card-details-bg: #eee7e1;
$card-details-light-bg: #fff;
$box-border: #e4e4e4;
$follow-btn-default: #f5f5f5;
$follow-btn-active: #04cc33;
$input-background: #1772b3;
$social-icon: #11b4f7;
$active-menu-highlight: #7079db;